html {
  font-size: calc(10px + 0.4vw);
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  min-height: 100vh;
}

.header {
  padding: 0.5rem 2rem;
  display: grid;
  grid-template: auto 1fr/2fr 1fr;
  grid-column: 2/3;
  grid-row: 1/2;
}

li img {
  height: 1.75rem;
}

.sidebar {
  display: grid;
  padding: 15px;
  grid-template-rows: auto auto 1fr;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #38bdf8;
  color: white;
}

.sidebar-header {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
  font-size: 1.5rem;
}

ul {
  padding: 0;
}

li p:hover {
  text-shadow: 0 0 5px black;
}

li {
  font-weight: bold;
  list-style: none;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding-left: 5px;
  padding-bottom: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container img {
  width: 1.5rem;
  height: 1.5rem;
}

.search-container input {
  height: 1.75rem;
  width: 85%;
  border-radius: 15px;
  border: none;
  background-color: #eceae9;
}

.profile-pic {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.bell-img {
  height: 1.7rem;
  cursor: pointer;
}

.profile-container {
  display: flex;
  gap: 1.75rem;
  align-items: center;
  justify-content: center;
}

.username-container {
  display: grid;

  column-gap: 1.5rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.greeting {
  align-self: flex-end;
  margin: 0;
}

.main-username {
  margin: 0;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
}

.username-container img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

button {
  min-width: 75px;
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #38bdf8;
}

button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.245);
}

.content {
  background-color: #e4dcd7;
  box-shadow: inset 0 3px 5px #97979c;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 2rem;
  gap: 1rem;
}

.projects-container {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 1rem;
  grid-auto-rows: 1fr;
}

.projects-container h4 {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: -1.5rem;
  font-size: 1.3rem;
}
.project:hover {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.245);
}
.project {
  background-color: white;
  display: grid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.245);
  border-radius: 15px;
  grid-template: 1fr auto / 1rem 1fr;
}
.project-color {
  background-color: orange;
  border-radius: 11px 0px 0px 11px;
  grid-row: 1/3;
  width: 80%;
}
.project-buttons {
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  padding: 10px;
  cursor: pointer;
}

.project-text {
  padding: 10px 10px 0px;
}

.project-text h5 {
  font-size: 1.3rem;
  margin: 0;
}

.right-side-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.announcements {
  display: flex;
  flex-direction: column;
}

.announcements h4,
.trending h4 {
  font-size: 1.4rem;
  margin: 0;
}

.announcement h6 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.announcement p {
  opacity: 0.7;
  margin: 0;
  font-size: 0.9rem;
}

.announcement-content,
.trending-content {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.245);
  margin-top: 5px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
}

.announcement-content:hover,
.trending-content:hover {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.245);
}

.announcement {
  padding: 10px 5px;
}
.announcement-border {
  width: 100%;
  height: 1px;
  background-color: rgb(147, 147, 147);
}

.trending {
  display: flex;
  flex-direction: column;
}

.trend {
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
}

.trend img {
  padding-right: 5px;
  grid-row: 1/3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.trend-user {
  margin: 0;
  align-self: end;
  grid-row: 1/2;
}

.trend-info {
  margin: 0;
  align-self: start;
  grid-row: 2/3;
}
